export(bms, cm.spline, cm.splinefun, coherentfdm, combine.demogdata,
compare.demogdata, demogdata, extract.ages, extract.years, fdm, fitted.fdm,
fitted.lca, forecast.fdm, forecast.lca, forecast.fdmpr, isfe, isfe.demogdata,
lca, hmd.mx,hmd.e0,hmd.pop, life.expectancy, lifetable, mean.demogdata,
median.demogdata, netmigration, plot.demogdata, plot.errorfdm, plot.lifetable,
read.demogdata,flife.expectancy, residuals.fdm, residuals.lca, set.upperage,
smooth.demogdata, tfr, simulate.fmforecast, simulate.fmforecast2, pop.sim, e0,
sex.ratio,models, models.fmforecast, models.fmforecast2, update.fmforecast,
update.fmforecast2)

S3method(fitted,fdm)
S3method(fitted,lca)
S3method(lines,lifetable)
S3method(lines,demogdata)
S3method(mean,demogdata)
S3method(median,demogdata)
S3method(plot,fmforecast)
S3method(plot,lca)
S3method(plot,lifetable)
S3method(plot,demogdata)
S3method(plot,errorfdm)
S3method(points,demogdata)
S3method(print,errorfdm)
S3method(print,fmforecast)
S3method(print,fdm)
S3method(print,lca)
S3method(print,lifetable)
S3method(print,demogdata)
S3method(residuals,fdm)
S3method(residuals,lca)
S3method(summary,fdm)
S3method(summary,lca)
S3method(forecast,fdm)
S3method(forecast,fdmpr)
S3method(forecast,lca)
S3method(isfe,demogdata)
S3method(simulate,fmforecast)
S3method(simulate,fmforecast2)
S3method(summary,demogdata)
S3method(summary,fmforecast)
S3method(summary,fmforecast2)
S3method(summary,fdmpr)
S3method(models,fmforecast)
S3method(models,fmforecast2)
S3method(update,fmforecast)
S3method(update,fmforecast2)

import(forecast)
import(ftsa)
import(rainbow)
import(mgcv)
import(cobs)
importFrom("graphics", "abline", "lines", "plot")
importFrom("stats", "simulate", "update", "approx", "frequency", "glm", "lm",
     "loess", "na.omit", "nlm", "poisson", "predict", "qnorm", "rbinom",
     "rpois", "spline", "splinefun", "start", "time", "ts", "tsp", "tsp<-",
     "uniroot", "window", "median")
importFrom("utils", "read.table")
